# Go build files
kali-gpgfix
*.exe
*.out

# Python
__pycache__/
*.pyc

# Shell
*.swp

# Logs
*.log

# Temporary files
tmp/
*.tmp
*.bak
*.old
*~

# Editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
